 <footer>
 <div class="wrapper">
        <div name="toolbar" class="toolbar-bottom">
            <div class="dropdown">
                <button><i class="fa-solid fa-gear"></i>Menu</button>

                  <div id="menu" class="content">
                      <!-- Etsy -->
                    <a href="https://etsy.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-etsy"></i>Etsy</a>
                      <!-- Bluesky -->
                    <a href="https://bsky.app/profile/stilltrill.bsky.social" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky"></i>Bluesky</a>
                     
                      <!-- YouTube -->
                    <a href="https://youtube.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i>YouTube</a>
                     
                      <!-- Linkedin -->
                    <a href="https://linkedin.com/in/trilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i>LinkedIN</a>
                      <!-- Github -->
                    <a href="https://github.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i>Github</a>
                   <a href="https://twitch.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitch"></i>Twitch</a>
                    <a href="https://dev.to/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-dev"></i>dev.to</a></div>
                  </div>
                  <div type="contact" class="toolbar-right"><div class="bugreport"><i class="fa-solid fa-bugs"></i>Report Bugs
                  <a href="/feed.xml"><i class="fas fa-wifi"></i></a> 
                  <a href="mailto:hello@trilliams.sh"><i class="fa-solid fa-envelope" subject="hey there" name="email"></i></a></div>
                  
                        <div class="digital-clock">
                            <span id="hours">00</span>
                            <span id="colon">:</span>
                            <span id="minutes">00</span>
                            <span id="colon">:</span>
                            <span id="seconds">00</span>
                        </div>

                            <div class="calendar-right">
                              <span id="current-day">Sunday,</span> <span id="current-date">01</span> <span id="current-month">January</span> <span id="current-year">2025</span>
                            </div>
              </div>
            </div>         
        
     </div> 
     <script src="/assets/js/tmedate.js"></script>
    </footer>