 <footer>
  <ul>
    <li><a href="https://bsky.app/profile/stilltrill.bsky.social" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky"></i>Bluesky</a></li>
    <li><a href="https://youtube.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i>YouTube</a></li>
    <li><a href="https://github.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i>Github</a></li>
    <li><a href="https://linkedin.com/in/trilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i>LinkedIN</a></li>
    <li></li>
  </ul>
                    
                   <a href="https://twitch.com/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitch"></i>Twitch</a>
                    <a href="https://dev.to/OGtrilliams" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-dev"></i>dev.to</a></div>
                  </div>
                  <div type="contact" class="toolbar-right"><div class="bugreport"><i class="fa-solid fa-bugs"></i>Report Bugs
                  <a href="mailto:hello@trilliams.sh"><i class="fa-solid fa-envelope" subject="hey there" name="email"></i></a></div>
    </footer>