---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$base-color: #cdb4db !default;
$text-color: #2c0735 !default;
$accent-color: #4e148c !default;
$nav-color: #fffffc !default;
$background-color: #fffffc !default;
$nav-background-color: #858ae3 !default;
$code-background-color: tint($nav-color, 95%) !default;
$border-color: tint($nav-color, 80%) !default;

$primary-color: #bdb2ff !default;
$success-color: #caffbf !default;
$warning-color: #ffd6a5 !default;
$danger-color: #ffadad !default;
$info-color: #fdffb6 !default;

/* Syntax highlighting (base16) colors */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;

@import "so-simple/skin";

#cursor {
   font-size: 30px;
}

/*blinking cursor css*/
body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  padding: 0 50px 0 10px;
  border: 2px solid #656464;
  border-radius: 10px;
}

.box h1 {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h1::after {
  content: "";
  width: 5px;
  height: 20px;
  background: #ec7fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
