.fa-brands,
.fa-solid, 
.fa-regular {
  color: #212121;
  padding-right: 5px;
  font-size: 20px;
}
.fa-etsy {
    background-color: darkorange;
    color: white;
}
.fa-bluesky {
    background: skyblue;
    color: white;
}
.fa-youtube {
    color: red;
    background: white;
}
.fa-linkedin {
    color: rgb(6, 6, 175);
}
.fa-github {
    color: black;
}
.fa-twitch {
    color: purple;
}
.fa-dev {
    color: black;
}
.fa-folder {
    color: skyblue;
}
.fa-envelope, .fa-wifi {
    color: white;
}
.fa-gear {
    color: #272727;
}
.xl {
    font-size: 40px;
}

.toolbar-bottom {
    position: absolute;
    bottom: 0;
    background: grey;
    color: white;
    font-size: 0.875rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height:40px;
    display: flex;
  }
  .toolbar-right {
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-flex;
  }
  .menu-time {
   /* display: inline-block;*/
    font-size: 0.875rem;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown button {
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    background: darkgrey;
    width: 110px;
    padding: 5px;
    border: none;
  }

  .dropdown a {
    color: #212121;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .dropdown .content {
    display: none;
    position: absolute;
    background:darkgrey;
    min-width: 120px;
    bottom: 100%;
    box-shadow: 0 8px 16px 0 #FFFFFF;
  }
  .dropdown:hover .content {
    display: block;
  }
  .dropdown:hover button {
    background: #111111;
    color: whitesmoke;
  }
  .dropdown a:hover {
    background: #212121;
  }

