/* Important styles */
#toggle {
    display: inline-block;
    width: 150px;
  }
  
  #toggle button:after,
  #toggle button:before {
    content: "";
    position: absolute;

  }
  #toggle button:after{
    bottom: 9px;
  }
  #toggle button {
    position: relative;
    display: block;
  }
  
  #toggle button,
  #toggle button:after,
  #toggle button:before {
    width: 100%;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  
  /* on activation */
  #toggle.on button {
    background-color: transparent;
  }
  #toggle.on button:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on button:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* menu appearance*/
  #menu {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
  }
  #menu:after {
    position: absolute;

    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
  }
  li a:hover,
  li a:focus {
    background: #1ABC9C;
    color: #fff;
  }
