<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<link rel="stylesheet" href="/assets/scss/style.css">
<body>

    <div class="container">
        <div class="notebook-paper" id="notebook-paper">
            <div class="title">
                <h1> {{ page.title }} </h1> 
            </div>
            {{ content }}

            </div>
        </div>

        <div class="credits">This course was created for <a href="https://hillmantokhbcu.com/">HillmanTok University</a>. All materials can be used freely WITH CREDIT under the Gnu public license (GPL).</div>

</body>


</html>
